.container {
    margin-left: 5px;
    margin-right: 10px;
  }
  
  .mat-elevation-z8 {
    margin-right: 5px;
  }
  
  /* Toolbar */
  .spacer {
    flex: 1 1 auto;
  }
  
  /* Filter */
  .form {
    height: auto;
  width: 100%;
  display: flex;
  padding: 0.25rem 0.25rem;
  align-items: center;
  justify-content: space-between;
  }
  
  .mat-header-cell {
    background-color: #4395a3;
    color: white;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    font-size: medium;
  }

  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }

  .mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }

  .mat-column-Remarks {
    flex: 0 0 24%;
  }

  .mat-column-AddictCode {
    flex: 0 0 6%;
  }

  .mat-column-AddictName {
    flex: 0 0 10%;
    padding-left: 1rem;
  }

  .mat-column-RelationsName {
    flex: 0 0 8%;
  }

  .mat-column-RelationWithName {
    flex: 0 0 10%;
  }

  .mat-column-othername {
    flex: 0 0 8%;
  }

  .mat-column-currentAddress {
    flex: 0 0 8%;
  }

  .mat-column-managePlaceName {
    flex: 0 0 8%;
  }

  .mat-column-blackList {
    flex: 0 0 6%;
  }

  .mat-column-Date {
    flex: 0 0 6%;
  }

  .mat-column-actions {
    padding-left: 0.8rem;
  }
  
  /* Round the top table corners */
  .mat-header-cell:first-child {
    border-top-left-radius: 5px;
  }
  .mat-header-cell:last-child {
    border-top-right-radius: 5px;
  }