.container {
    margin-left: 5px;
    margin-right: 10px;
  }
  
  .mat-elevation-z8 {
    margin-right: 5px;
  }
  
  /* Toolbar */
  .spacer {
    flex: 1 1 auto;
  }
  
  /* Filter */
  .form {
    height: auto;
  width: 100%;
  display: flex;
  padding: 0.25rem 0.25rem;
  align-items: center;
  justify-content: space-between;
  }
  
  .mat-header-cell {
    background-color: #4395a3;
    color: white;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    font-size: medium;
  }
  .mat-column-Remarks {
    flex: 0 0 40%;
  }

  .mat-column-AddictCode {
    flex: 0 0 5%;

  }
  
  /* Round the top table corners */
  .mat-header-cell:first-child {
    border-top-left-radius: 5px;
  }
  .mat-header-cell:last-child {
    border-top-right-radius: 5px;
  }