.container {
  margin-left: 5px;
  margin-right: 10px;
}

.closeSuffix {
  cursor: pointer;
}
.closeSuffix:hover {
  color: #40a9ff;
}

.mat-elevation-z8 {
  margin-right: 5px;

}

::ng-deep .ant-table-tbody > tr > td > .ant-table-wrapper:only-child .ant-table {
  margin-left: 41px;
}

::ng-deep .ant-table-thead {
  background-color: #4395a3;
}

/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Filter */
.form {

  height: auto;
  width: 100%;
  display: flex;
  padding: 0.25rem 0.25rem;
  align-items: center;
  justify-content: space-between;
  //border-bottom: 1px solid transparent;
}


.mat-header-cell {
  background-color: #4395a3;
  color: white;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  font-size: medium;
  
}

/* Round the top table corners */
.mat-header-cell:first-child {
  border-top-left-radius: 5px;
}
.mat-header-cell:last-child {
  border-top-right-radius: 5px;
}

.mat-column-AddictCode {
  flex: none;
  width: 100px;
}

.mat-column-AddictName {
  flex: 0 0 10%;
}

.mat-column-PlaceName {
  flex: 0 0 10%;
}

.mat-column-Remarks {
  flex: 0 0 40%;
}

.mat-column-PlaceTypeName {
  flex: 0 0 10%;
}


