<div class="mat-elevation-z8">
  <app-loading *ngIf="isLoadingResults"></app-loading>

  <div class="form">
    <div style="width: 25%">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input
          type="text"
          matInput
          #filter
          nz-input
          placeholder="Tìm kiếm ..."
        />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>

  <nz-table #nestedTable nzBordered [nzData]="dataSource" [nzShowPagination]="false">
    <thead>
      <tr>
        <th style="width: 0px;"></th>
        <th>Mã số</th>
        <th>Họ tên</th>
        <th>
          Ngày sinh
          <button
            (click)="openAddDialog()"
            nz-button
            nzType="default"
            nzShape="circle"
          >
            <i nz-icon nzType="user-add" nzTheme="outline"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template  
      ngFor let-data [ngForOf]="nestedTable.data"
      >
        <tr>
          <td [(nzExpand)]="data.expand"></td>
          <td>{{ data.addictCode }}</td>
          <td>{{ data.addictName }}</td>
          <td>{{ data.dob | date: "dd/MM/yyyy" }}</td>
        </tr>
        <tr [nzExpand]="data.expand">
          <nz-table                   
            #innerTable
            [nzData]="data.activityLog"
            [nzShowPagination]="false"
            nzBordered
          >
            <thead>
              <tr>
                <th nzWidth="200px">Phân loại nơi</th>
                <th nzWidth="180px">Nơi quản lý</th>
                <th nzWidth="110px">ngày</th>
                <th>Nhật ký hoạt động</th>
                <th nzWidth="110px">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of innerTable.data">
                <td>{{ data.placeTypeName }}</td>
                <td>{{ data.placeName }}</td>
                <td>{{ data.fromDate | date: "dd/MM/yyyy" }}</td>
                <td>{{ data.remarks }}</td>
                <td>
                  <button
                    nz-button
                    (click)="startEdit(0, data)"
                    nzType="default"
                    nzShape="circle"
                  >
                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                  </button>
                  <!-- <nz-divider nzType="vertical"></nz-divider> -->
                  <button
                    style="margin-left: 0.5rem"
                    nz-button
                    (click)="deleteItem(0, data)"
                    nzType="default"
                    nzDanger
                    nzShape="circle"
                  >
                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </tr>
      </ng-template>
    </tbody>

  </nz-table>
  <div style="float: right;">

    <nz-pagination
      [nzPageIndex]="1"
      [nzPageSize]="10"
      [nzTotal]="totalCount"
      (nzPageIndexChange)="PageChange($event)"
    ></nz-pagination>
  </div>
</div>
