<!-- <div class="changepass-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            
            <mat-form-field floatPlaceholder="never">
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldpassword" placeholder="Mật khẩu cũ" >
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field> 
            <div *ngIf="submitted && registerForm.get('oldpassword').errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('oldpassword').errors.required">Yêu cầu nhập mật khẩu</div>
            </div>
        </div>
    
        <div class="form-group">
            
            <mat-form-field floatPlaceholder="never">
                <input matInput type="password" formControlName="password" placeholder="Mật khẩu mới" >
            </mat-form-field>
            <div *ngIf="submitted && registerForm.get('password').errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('password').errors.required">Yêu cầu nhập mật khẩu mới</div>
            </div>
        </div>
    
        <div class="form-group">
            
            <mat-form-field floatPlaceholder="never">
                <input matInput type="password" formControlName="confirmPassword" placeholder="Xác nhận mật khẩu mới" >
            </mat-form-field>
            <div *ngIf="submitted && registerForm.get('confirmPassword').errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('confirmPassword').errors.required">Yêu cầu nhập xác nhận mật khẩu</div>
    
                <div *ngIf="registerForm.get('confirmPassword').errors.confirmPasswordValidator">Xác nhận mật khẩu mới không khớp. </div>
            </div>
        </div>
        <button type="submit" color="warn" mat-raised-button class="btn btn-success">Lưu</button>
    </form>
</div> -->

<div class="change-password">
  <div class="container" role="main">
    <div class="page-header" style="margin-top: 0">
      <div
        class="logo-container"
        style="
          line-height: 1;
          height: 100%;
          display: table-cell;
          vertical-align: bottom;
        "
      >
        <img class="logo" src="favicon.ico" alt="" />
      </div>
    </div>
    <div class="row">
      <h1 class="page-title">Đổi mật khẩu</h1>
    </div>
    <div class="row">
      <p>
        Bạn sẽ đổi mật khẩu cho:
        <strong> {{ helper.getUserFullName() }} </strong>
      </p>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
      <fieldset class="row m32">
        <legend>Xác nhận mật khẩu hiện tại</legend>
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            nz-input
            placeholder="Mật khẩu hiện tại"
            [(ngModel)]="password"
            formControlName="oldpassword"
          />
        </nz-input-group>
        <div
          *ngIf="submitted && registerForm.get('oldpassword').errors"
          class="alert alert-danger"
        >
          <div *ngIf="registerForm.get('oldpassword').errors.required">
            Yêu cầu nhập mật khẩu
          </div>
        </div>
        <ng-template #suffixTemplate>
          <i
            nz-icon
            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible"
          ></i>
        </ng-template>
      </fieldset>
      <fieldset class="row m32">
        <legend>Nhập mật khẩu mới</legend>
        <input
          nz-input
          #newpassword
          formControlName="password"
          type="password"
          placeholder="Nhập mật khẩu mới"
        />
        <div *ngIf="submitted && registerForm.get('password').errors" class="alert alert-danger">
            <div *ngIf="registerForm.get('password').errors.required"><nz-alert nzType="error" nzMessage="Yêu cầu nhập mật khẩu mới" nzShowIcon>{{focusOn()}}</nz-alert></div>
        </div>
        <input
          nz-input
          #confirmpassword
          formControlName="confirmPassword"
          type="password"
          placeholder="Nhập lại mật khẩu mới"
        />
        <div *ngIf="submitted && registerForm.get('confirmPassword').errors" class="alert alert-danger">
            <div *ngIf="registerForm.get('confirmPassword').errors.required"><nz-alert nzType="error" nzMessage="Yêu cầu xác nhận mật khẩu mới" nzShowIcon>{{secondFocusOn()}}</nz-alert></div>

            <div *ngIf="registerForm.get('confirmPassword').errors.confirmPasswordValidator"><nz-alert nzType="error" nzMessage="Xác nhận mật khẩu mới không khớp." nzShowIcon>{{secondFocusOn()}}</nz-alert></div>
        </div>
      </fieldset>
      <div class="row m32">
        <fieldset>
          <button nz-button nzType="primary" type="submit" >
            Đổi mật khẩu
          </button>
        </fieldset>
        <fieldset class="row m32">
          <a class="link" (onclick)="back()"> Hủy </a>
        </fieldset>
      </div>
    </form>
  </div>
</div>
