<div class="searchhistory">
  <div class="main-container">
    <div class="left-column">
      <div class="left-column-cover">
        <div class="left-column-container">
          <div class="title-content">
            Danh sách người nghiện
          </div>
          <div class="search">
            <form action="" class="search-form">
              <input id='search-bar' type="text">
              <input id='forum-button' value="Search" type="submit">
            </form>
          </div>
          <div class="box">
            <div class="box-container">
              <div style="display: inline-block;">
                <div class="box-title">Từ ngày</div>
              </div>
              <div class="filter-box">
                <div class="filter-box-container">
                  <div class="filter-box-content">
                    12/10/21     
                    <mat-icon class="filter-box-icon">arrow_drop_down</mat-icon>               
                  </div>  
                </div>
              </div>
              <div style="display: inline-block;">
                <div class="box-title">đến</div>
              </div>
              <div class="filter-box">
                <div class="filter-box-container">
                  <div class="filter-box-content">
                    13/10/21
                    <mat-icon class="filter-box-icon">arrow_drop_down</mat-icon>                   
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-box">
          <button class="bottom-box-button">Tìm kiếm</button>
        </div>
      </div>
    </div>
    <div class="second-table">
      <div class="second-table-cover">
        <div class="second-table-container">
          <div class="second-table-content">
            LỊCH SỬ DI CHUYỂN
          </div>
          <table id="moving">
            <tr>
              <th width="50px" style="text-align: center;">STT</th>
              <th style="text-align: center;">NƠI ĐẾN</th>
              <th width="100px" style="text-align: center;">THỜI GIAN</th>
              <th width="100px" style="text-align: center;">CAMERA</th>
            </tr>
            <tr>
              <td style="text-align: center;">1</td>
              <td>45 Tân An, Bình Dương</td>
              <td>12:47:38</td>
              <td><img src="../../assets/detect.png" width="100%" alt=""></td>
            </tr>
            <tr>
              <td style="text-align: center;">2</td>
              <td>Xa lộ Hà Nội, Thành Phố HCM</td>
              <td>15:34:38</td>
              <td></td>
            </tr>
            <tr>
              <td style="text-align: center;">3</td>
              <td>123/8 khu phố Tân Hòa, Chợ Tân An, Dĩ An</td>
              <td>17:15:05</td>
              <td><img src="../../assets/detect2.jpg" width="100%" alt=""></td>
            </tr>
            <tr>
              <td style="text-align: center;">4</td>
              <td>50 Võ Văn Ngân, p.Bình Thọ, Thành Phố HCM</td>
              <td>20:5:24</td>
              <td></td>
            </tr>
            
          </table>
        </div>       
      </div>
    </div>   
    <div class="right-column">
      <div class="mock-google-container">
        <img src="../../assets/map.PNG" style="width:110%" alt="">
      </div>
    </div>
  </div>

  <!-- <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map> -->

</div>  