
<div class="chartwrapper" #divToTrackHeightChanges>
    <dx-chart #devXchart
        [dataSource]="dash01s"
        title="Số lượng thay đổi trong 12 tháng gần nhất">
        <dxi-series valueField="qty" color="orange" name="Tháng"></dxi-series>				
        <dxo-common-series-settings #seriesSettings
            argumentField="monthID"
            [type]="'spline'">
        </dxo-common-series-settings>
        <dxo-margin [bottom]="20"></dxo-margin>
        <dxo-common-axis-settings>
            <dxo-grid [visible]="true"></dxo-grid>
        </dxo-common-axis-settings>
        <dxo-legend
            [visible]="false"
            verticalAlignment="top"
            horizontalAlignment="right">
        </dxo-legend>
        <dxo-argument-axis [allowDecimals]="false" [axisDivisionFactor]="60">
            <dxo-label>
                <dxo-format type="decimal"></dxo-format>
            </dxo-label>
        </dxo-argument-axis>
        <dxo-tooltip
            [enabled]="true"
            [zIndex]="10"
            >
        </dxo-tooltip>
        <dxo-size					
            [height]="350">
        </dxo-size>
    </dx-chart>


</div>
<!-- <div style="width:30%; height: 350px; border-style:solid;margin-top: 40px;">

</div> -->

<div class="row">
    <div class="left">        
        <mat-card>
            <dx-pie-chart
                id="pie"
                #chartPie2             
                palette="bright"                
                [dataSource]="pieDatasource">
                <dxo-title   text="Loại thuốc">          
                    <dxo-font [size]="25"></dxo-font>
                    
                </dxo-title>
                <!-- <dxo-adaptive-layout [height]="300" [width]="400"></dxo-adaptive-layout> -->
                <dxo-legend
                    orientation="horizontal"
                    itemTextPosition="right"
                    horizontalAlignment="center"
                    verticalAlignment="bottom"
                    [columnCount]="5">
                </dxo-legend>
                <dxi-series
                    argumentField="country"
                    valueField="medals">
                    <dxo-label
                        [visible]="true"
                        position="columns"
                        [customizeText]="customizeLabel">
                        <dxo-font [size]="16"></dxo-font>
                        <dxo-connector
                            [visible]="true"
                            [width]="0.5"></dxo-connector>
                    </dxo-label>
                </dxi-series>
                <dxo-size					
                    [height]="300">
                </dxo-size>
            </dx-pie-chart>     
        </mat-card>
            <mat-card style="margin-top: 5px;">
                <dx-pie-chart #chartPie1
                    id="pie1"
                    title="Trình độ"                  
                    [dataSource]="pieDatasource">
                    <dxo-legend
                        orientation="horizontal"
                        itemTextPosition="right"
                        horizontalAlignment="center"
                        verticalAlignment="bottom"
                        [columnCount]="5"></dxo-legend>
                    <dxi-series
                        argumentField="country"
                        valueField="medals">
                        <dxo-label
                            [visible]="true"
                            position="columns"
                            [customizeText]="customizeLabel">
                            <dxo-font [size]="16"></dxo-font>
                            <dxo-connector
                                [visible]="true"
                                [width]="0.5"></dxo-connector>
                        </dxo-label>
                    </dxi-series>
                    <dxo-size					
                        [height]="300">
                    </dxo-size>
                </dx-pie-chart>            
            </mat-card>
        
      </div>
      
      <div class="main">
        <mat-card>
            <dx-chart id="chart1" #chartGender	
            
					[rotated]="true"				
					[dataSource]="dash04s" >
					<dxi-series valueField="nam" name="Nam"></dxi-series>
					<dxi-series valueField="nu" name="Nữ"></dxi-series>		
					<dxo-common-series-settings	
						argumentField="state"					
						type="stackedBar"
						[barWidth]="30">
					</dxo-common-series-settings>
					<dxo-legend
						verticalAlignment="top"
						horizontalAlignment="center"
						itemTextPosition="top">
					</dxo-legend>	
                    				
					<dxo-tooltip
						[enabled]="true"
						location="edge"
                        [zIndex]="10">
					</dxo-tooltip>
					<dxo-size					
						[height]="160">
					</dxo-size>
				</dx-chart>
        </mat-card>
        
        <mat-card style="margin-top: 5px;">
            
             <dx-chart #chart40
                
                    id="chart4"
                    title="Độ tuổi"
                    [dataSource]="grossProductData"
                    (onInitialized)="chartInitialized($event)"
                    palette="Office"
                    >
                    <dxi-series valueField="year2021" name="2021"></dxi-series>
                    <dxi-series valueField="year2020" name="2020"></dxi-series>                    
                    <dxo-common-series-settings
                        argumentField="state"
                        type="bar"
                        [barWidth]="60"
                        >                        
                    </dxo-common-series-settings>
                    <dxo-legend
                        verticalAlignment="bottom"
                        horizontalAlignment="center">
                    </dxo-legend>     
                    <dxo-size					
						[height]="440">
					</dxo-size>       
                    <dxo-tooltip
						[enabled]="true"
						location="edge"
                        [zIndex]="10">
					</dxo-tooltip>     
                </dx-chart>
        </mat-card>
        
      </div>
</div>

