.mat-sidenav {
  width: 300px;
}


.mat-sidenav-container {
  background-color: white !important;
  height: 100%;
  /* width: 100%; */

}


.mat-list-item {
  background-color: rgb(25, 118, 210);
}

[nz-menu] {
  width: 240px;
}