<div class="container">
    <h3 mat-dialog-title>Edu Level</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Nơi quản lý" [(ngModel)]="data.placeName" name="PlaceName" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="accent">
          <textarea matInput #input class="form-control" placeholder="Địa chỉ" [(ngModel)]="data.address" name="Address" required ></textarea>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <mat-select placeholder="Chọn ..." type="text" id="country" [(ngModel)]="data.placeTypeID" required (ngModelChange)="selectChange($event)" name="placeTypeID">
            <mat-option *ngFor="let t of placetypes"
            [value]="t.oid">{{t.placeTypeName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      

      <div mat-dialog-actions>
        <button mat-button [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
</div>
  