<div class="container">
    <h3 mat-dialog-title>Quan hệ</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="STT" [(ngModel)]="data.oid" name="OID" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="accent">
          <textarea matInput #input class="form-control" placeholder="Tên quan hệ" [(ngModel)]="data.relationName" name="drugsName" required ></textarea>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button mat-button [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
</div>
  